<div class="gds-logo">
    <img src="../../assets/images/gds-logo.png" alt="Greater Demand Solutions Logo">
  </div>

<ng-container *ngIf="user | async; else login">

  <div class="notification is-success">
    Congrats You logged in without a password!
  </div>

  <button (click)="logout()" class="button">Signout</button>
  <div>
    <p>Do you have personal tax information that you need to submit?</p>
    <button class="button" routerLink="/personal">Click Here To Submit Personal Information</button>
  </div>

  <div>
    <p>Do you have a business that you need to submit business tax information for?</p>
    <button class="button" routerLink="/business">Click Here To Submit Business Information</button>
  </div>
  <!-- <button routerLink = "/upload" class="button">Upload Your Documents</button> -->

</ng-container>

<ng-template #login>
  <label for="email" class="label">Please enter your email below to receive a login link for tax document submission</label><br>
  <input type="email" class="input" [(ngModel)]="email">
  
  <hr>
  
  <button class="button is-primary" [disabled]="emailSent" (click)="sendEmailLink(email)">Get Login Link</button>

  <hr>
  
  <div *ngIf="emailSent" class="notification is-info">
    Cool! We sent you an email with your login link
  </div>

  <div *ngIf="errorMessage" class="notification is-danger">
    {{ errorMessage }}
  </div>
  
</ng-template>
