
<div class="gds-logo">
  <img src="../../assets/images/gds-logo.png" alt="Greater Demand Solutions Logo">
</div>

<h2>Personal Tax Form</h2>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScTN0-tobuqmjuUIYvD_TiA6i3LtzWdI5JOoPO5CJ03Ki6ctw/viewform?embedded=true" width="700" height="520" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
<div>
  <p>Do you have a business that you need to submit business tax information for?</p>
  <button class="button" routerLink="/business">Click Here To Submit Business Information</button>
</div>


<div>
  <p> If not, click the button below to submit you documents:</p>
  <button class="button" routerLink="/intake">Click To Submit Documents</button>
</div>
