
<div class="gds-logo">
  <img src="../../assets/images/gds-logo.png" alt="Greater Demand Solutions Logo">
</div>

<h2>Business Tax Form</h2>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfUl9UTZbgdyOUXwb57G05mHsmpOseIwqD0B2xgyuY71oxgaA/viewform?embedded=true" width="640" height="4249" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

<div>
  <p>Do you have personal tax information that you need to submit?</p>
  <button class="button" routerLink="/personal">Click Here To Submit Personal Information</button>
</div>

<div>
  <p> If not, click the button below to submit you documents:</p>
  <button class="button" routerLink="/intake">Click To Submit Documents</button>
</div>
